
<div class="card">
  <p-table [value]="topicservice.getAllTopics()" >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width:20%">
          Id <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="name" style="width:20%">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="description" style="width:20%">
          Description <p-sortIcon field="description" />
        </th>
        <th>
            Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-topic>
      <tr>
        <td>{{ topic.id }}</td>
        <td>{{ topic.name }}</td>
        <td>{{ topic.description }}</td>
        <td>
          <p-button value="edit"   severity="primary">Edit</p-button>
          <p-button  icon="pi pi-times"     [rounded]="true" [text]="true" severity="danger">  </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
